# Built application files
*.apk
*.ap_
*.aab

# Files for the ART/Dalvik VM
*.dex
## Stores user specific settings ##
.gradle
.idea/
.settings/
*.iml

## generated content ##
bin/
out/
gen/
build/

## local machine properties ##
local.properties

## folder that contains all test reports ##
test-reports/

## Test server created by calabash ##
test_servers/

## Misc ##
AndroidManifest.out.xml
com_crashlytics_export_strings.xml
crashlytics-build.properties
screenshot_*
.DS_Store
Thumbs.db
desktop.ini

# Android Studio captures folder
captures/